{% extends "dashboard.html" %}
{% block content %}
<div style="padding: 1%;">
    <h1>Start event</h1>

    <h1>Trade events</h1>
    <table class="list-table" style="margin-top: 25px;">
    <tr>
        <th>Namn</th>
        <th>Stockholm tid</th>
        <th>Scheduler tid</th>
    </tr>
    {% for event in events %}
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.custom_date }}</td>
            <td>{{ event.created }}</td>
        </tr>
    {% endfor %}
    </table>

</div>
{% endblock content %}