{% extends "dashboard.html" %}
{% block content %}

<div class="column" style="float: left; width: 48%; padding: 1%;">
    <h3>Buy and place orders</h3>
    <table class="list-table-small">
    <tr>
        <th>Time started ST</th>
        <th>Time Completed ST</th>
        <th>Result</th>
        <th>Stocks</th>
        <th>Orders</th>
        <th>Buy trans</th>
        <th>Sell trans</th>
        <th>Test</th>
    </tr>
    {% for event in buy_and_sell_event_list %}
        <tr>
            <td>{{ event.time_started_st }}</td>
            <td>{{ event.time_completed_st }}</td>
            <td>{{ event.result }}</td>
            <td>{{ event.number_of_stocks }}</td>
            <td>{{ event.number_of_orders }}</td>
            <td>{{ event.number_of_buy_transactions }}</td>
            <td>{{ event.number_of_sell_transactions }}</td>
            <td>{{ event.test_mode }}</td>
        </tr>
        {% if event.result == "failure" %}
        <tr>
            <td colspan="7">Error: {{ event.error }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>

<div class="column" style="float: left; width: 48%; padding: 1%;">
    <h3>Check transactions and orders</h3>
    <table class="list-table-small">
    <tr>
        <th>Time started ST</th>
        <th>Time Completed ST</th>
        <th>Result</th>
        <th>Stocks</th>
        <th>Orders</th>
        <th>Buy trans</th>
        <th>Sell trans</th>
        <th>Test</th>
    </tr>
    {% for event in check_transactions_and_order_list %}
        <tr>
            <td>{{ event.time_started_st }}</td>
            <td>{{ event.time_completed_st }}</td>
            <td>{{ event.result }}</td>
            <td>{{ event.number_of_stocks }}</td>
            <td>{{ event.number_of_orders }}</td>
            <td>{{ event.number_of_buy_transactions }}</td>
            <td>{{ event.number_of_sell_transactions }}</td>
            <td>{{ event.test_mode }}</td>
        </tr>
        {% if event.result == "failure" %}
        <tr>
            <td colspan="7">Error: {{ event.error }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>

{% endblock content %}