{% extends "dashboard.html" %}
{% block content %}
<div style="padding: 1%;">
    <h1>Test Buy sell</h1>

    <a style="display: block; margin-top: 1%;" href="{% url 'test-events' 'buy-and-sell' %}">Test buy and sell</a>
    <a style="display: block; margin-top: 1%;" href="{% url 'test-events' 'test-check-order-and-transactions' %}">Test check orders and transactions</a>
    <a style="display: block; margin-top: 1%;" href="{% url 'test-events' 'clear-test-data' %}">Clear test data</a>

</div>
{% endblock content %}